.wrapper {
  display: block;
}

.input {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 5px 5px 10px;
  border-radius: 6px;
  border: 1px solid darkgray;
}

.icon {
  display: none;
}