.list {
  background-color: rgba(255, 255, 234, 0.62);
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  border: 1px solid #ddd;
  padding: 16px 12px;
}

.active {
  composes: item;
  border-color: #00acc1;
}